body{
    background-color: antiquewhite;
    padding: 20px;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
    background-attachment: fixed;
    text-align: center;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.form{
    display: flex;
    justify-content: center;

}
.form__select{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
}
.form__select option {
    font-size: 1.4rem;
}
.form__btn{
    background-color: #4CAF50;
    height: 30px;
    width: 100px;
    border: none;

}