.form{
    display: block;
    margin-top: 1rem;
    &__select{
        width: 25rem;
        height: 5rem;
        border: none;
        display: block;
        border-radius: 1rem;
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
        background-color: rgb(253, 248, 241);
        color: rgb(46, 38, 29);
        
        & option{
            font-size: 2rem;
        }
        
    }
    &__btn{
        background-color: #4CAF50;
        height: 5rem;
        width: 15rem;
        border: none;
        margin: 1rem;
        color: antiquewhite;
        font-size: 2rem;
        border-radius: 5px;
        &:hover{
            background-color: #3e8e41;
            box-shadow: $shadow-dark;
        }
    }


}

.verse {
    text-shadow: $shadow-dark;
    transition: all 1s;
    &--end:not(span){
        color: #3e8e41;
    }
}
// .answer{
//     opacity: 1;
//     transition: all 1s;
// }
.show-answer{
    background-color: darkkhaki;
    height: 5rem;
    width: 15rem;
    border: none;
    margin: 1rem;
    color: antiquewhite;
    font-size: 2rem;
    border-radius: .5rem;
    &:hover {
        background-color:rgb(83, 80, 48);
        box-shadow: $shadow-dark .5;
    }
}
.hidden{
    opacity: 0;
    visibility: hidden;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    &--verse{
        font-size: 3rem;
        font-family: 'Amiri Quran' , serif;

    }
    &--icon{
        fill: $primary-color-light;
        width: 20rem;
        height: 20rem;
    };
    &__static{
        display: flex;
        // flex-direction: row;
        // align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 0 0 100%;

    }
    &--text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &--number{
        font-size: 2rem;
        color: $primary-color-light;
        text-transform: uppercase;
    }

}

.quran{
    scroll-behavior: smooth;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    &__surrah{
        font-size: 2rem;
        // font-family: 'Amiri' , serif;
        text-align: right;
        padding: 2rem;
    }
    &__link{
        text-decoration: none;
        color: $primary-color-light;
        font-size: 2rem;
        // font-family: 'Amiri' , serif;
        padding: 1rem;
        text-align: center;
        &:hover{
            color: $primary-color-dark;
            transform: translateY(-.5rem);
            box-shadow: $shadow-dark;
        }
    }
    &__sowar{
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        list-style: none;
        &--item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            font-size: 1.8rem;
            font-family: 'Amiri' , serif;
            border-style:ridge;
            border-top-left-radius: 5rem;
            border-bottom-right-radius: 5rem;
            background-image: linear-gradient(to right, rgba($primary-color-light,.78), rgba($primary-color-dark,.27));
            // border-bottom-right-radius: 50%;
            text-align: center;
            padding: 2rem;
        }
        &--number{
            color: #fff;
            background-color: $primary-color-dark; 
            padding: 2rem;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }  
}


#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }