

.content{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;
  font-size: 1.4rem;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.navbar{
  font-size: 20px;
  border-radius: 79;
}
.navbar-brand{
  padding: 0;
}