.form {
  display: block;
  margin-top: 1rem;
}
.form__select {
  width: 25rem;
  height: 5rem;
  border: none;
  display: block;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  background-color: rgb(253, 248, 241);
  color: rgb(46, 38, 29);
}
.form__select option {
  font-size: 2rem;
}
.form__btn {
  background-color: #4CAF50;
  height: 5rem;
  width: 15rem;
  border: none;
  margin: 1rem;
  color: antiquewhite;
  font-size: 2rem;
  border-radius: 5px;
}
.form__btn:hover {
  background-color: #3e8e41;
  box-shadow: 0.1rem 0.1rem 0.5 black;
}

.verse {
  text-shadow: 0.1rem 0.1rem 0.5 black;
  transition: all 1s;
}
.verse--end:not(span) {
  color: #3e8e41;
}

.show-answer {
  background-color: darkkhaki;
  height: 5rem;
  width: 15rem;
  border: none;
  margin: 1rem;
  color: antiquewhite;
  font-size: 2rem;
  border-radius: 0.5rem;
}
.show-answer:hover {
  background-color: rgb(83, 80, 48);
  box-shadow: 0.1rem 0.1rem 0.5 black 0.5;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.homepage--verse {
  font-size: 3rem;
  font-family: "Amiri Quran", serif;
}
.homepage--icon {
  fill: #4A9C4A;
  width: 20rem;
  height: 20rem;
}
.homepage__static {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 100%;
}
.homepage--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homepage--number {
  font-size: 2rem;
  color: #4A9C4A;
  text-transform: uppercase;
}

.sowar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  list-style: none;
}
.sowar--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 3rem;
  font-family: "Amiri", serif;
  border-style: ridge;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-image: linear-gradient(to right, rgba(74, 156, 74, 0.78), rgba(26, 54, 26, 0.27));
  text-align: center;
  padding: 2rem;
}
.sowar--number {
  color: #fff;
  background-color: #1A361A;
  padding: 2rem;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.header {
  background-image: linear-gradient(to right, rgba(74, 156, 74, 0.78), rgba(26, 54, 26, 0.27)), url("./img/masjid-maba-_AXj_99P680-unsplash.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  padding-top: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  position: relative;
}
.header--title {
  font-size: 4.8rem;
  padding: 2rem;
  background-color: rgba(74, 156, 74, 0.67);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "istok web", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 75em) {
  .header--title {
    width: 100%;
    font-size: 3.5rem;
  }
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  font-size: 2rem;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navbar {
  border-radius: 79px;
  width: 80%;
  height: min-content;
  margin: 0 auto;
  z-index: 100;
  box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
}
@media (max-width: 56.25em) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-brand {
  padding: 0 12px;
  margin: 0;
}
.navbar-brand img {
  width: 5rem;
}
@media (max-width: 56.25em) {
  .navbar-brand img {
    width: 4rem;
  }
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-item {
  text-align: center;
  padding: 0 1.2rem;
  color: black;
  font-size: 2.1rem;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0;
}

.footer {
  background-color: rgba(74, 156, 74, 0.67);
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

/*# sourceMappingURL=App.css.map */
