body {
  background-color: antiquewhite;
  padding: 20px;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  background-attachment: fixed; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
